@model SDC.data.Entity.UserProfile
<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    <li class="header">Areas</li>
    <!-- Optionally, you can add icons to the links -->

    <!-- ADMIN: 
        Manage Users
        CURATOR: 
        Manage Books
        USER:
        My Shelves
        -->

    @if (Model.Role == SDC.data.Entity.Profile.RolesCustom.ADMIN)
    {
        <li>
            <a href="@Url.Action("Users", "Administration")">
                <i class="fa fa-link"></i>
                <span><strike>Manage users</strike></span>
            </a>
        </li>
    }
    else if (Model.Role == SDC.data.Entity.Profile.RolesCustom.CURATOR)
    {
        <li>
            <a href="@Url.Action("Books", "Maintenance")">
                <i class="fa fa-link"></i>
                <span><strike>Manage books</strike></span>
            </a>
        </li>
    }

    <li>
        <a href="@Url.Action("Index", "Authors")">
            <i class="fa fa-link"></i>
            <span>Authors</span>
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Directory")">
            <i class="fa fa-link"></i>
            <span><strike>Directory</strike></span>
        </a>
    </li>    

    <li>
        <a href="@Url.Action("Index", "Shelves")">
            <i class="fa fa-link"></i>
            <span>My shelves</span>
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Exchange")">
            <i class="fa fa-link"></i>
            <span><strike>My exchanges</strike></span>
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Wishlist")">
            <i class="fa fa-link"></i>
            <span><strike>My wishlist</strike></span>
        </a>
    </li>



</ul><!-- /.sidebar-menu -->