@model SDC.data.Entity.UserProfile
<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    <li class="header">Areas</li>
    <!-- Optionally, you can add icons to the links -->

    <!-- ADMIN: 
        Manage Users
        CURATOR: 
        Manage Books
        USER:
        My Shelves
        -->

    @if (Model.Role == SDC.data.Entity.Profile.RolesCustom.ADMIN)
    {
        <li class="active">
            <a href="javascript:void(0);">
                <i class="fa fa-link"></i>
                <span>Administration</span>
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <ul class="treeview treeview-menu menu-open">
                <li>
                    <a href="@Url.Action("Users", "Administration")">
                        <i class="fa fa-link"></i>
                        <span><strike>Manage users</strike></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AppMonitor", "Administration")">
                        <i class="fa fa-link"></i>
                        <span>App monitor</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "DataImport")">
                        <i class="fa fa-link"></i>
                        <span>Data import</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Authors")">
                        <i class="fa fa-link"></i>
                        <span>Authors</span>
                    </a>
                </li>
            </ul>
        </li>

    }
    else if (Model.Role == SDC.data.Entity.Profile.RolesCustom.CURATOR)
    {
        <li>
            <a href="@Url.Action("Books", "Maintenance")">
                <i class="fa fa-link"></i>
                <span><strike>Manage books</strike></span>
            </a>
        </li>
    }

    <li>
        <a href="@Url.Action("Index", "Directory")">
            <i class="fa fa-link"></i>
            <span><strike>Directory</strike></span>
        </a>
    </li>    

    <li class="active">
        <a href="@Url.Action("Index", "Shelves")">
            <i class="fa fa-link"></i>
            <span>My shelves</span>
            <i class="fa fa-angle-down pull-right"></i>
        </a>
        <ul class="treeview treeview-menu menu-open">
            @{ 
                
                dynamic userInfoEx = (dynamic)Session["UserInfoEx"];
                foreach (dynamic shelf in userInfoEx.Shelves)
                {
                    <li>
                        <a href='@Url.Action("Details", "Shelves", new { id = shelf.Id })'>
                            <i class="fa fa-circle-o"></i>
                            <strong>@shelf.Name</strong>(@shelf.Books)
                        </a>
                    </li>
                }
                }
        </ul>
    </li>

    <li>
        <a href="@Url.Action("Index", "Exchange")">
            <i class="fa fa-link"></i>
            <span><strike>My exchanges</strike></span>
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index", "Wishlist")">
            <i class="fa fa-link"></i>
            <span><strike>My wishlist</strike></span>
        </a>
    </li>



</ul><!-- /.sidebar-menu -->