@model SDC.data.Entity.UserProfile

<!-- Sidebar user panel (optional) -->
<div class="user-panel">
    <div class="pull-left image">
        <a href='@Url.Action("View", "PublicProfiles", new { userName = Model.UserName })'>
            <span>
                <img src="@Url.Content(Model.Avatar.Url)" class="img-circle" alt="@Model.UserName" width="50">
            </span>
            
        </a>
    </div>
    <div class="pull-left info">
        <p><a href='@Url.Action("View", "PublicProfiles", new { userName = Model.UserName })'>@Model.UserName</a></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> online</a>
    </div>
</div>