@model SDC.data.ViewModels.ShelfViewModel

@{
    ViewBag.Title = Model.Name;
}

@section Page_Styles{
    <!--css/style.css-->
<!-- Generic page styles -->
<link rel="stylesheet" href="~/Scripts/jqfu/css/style.css">
<!-- blueimp Gallery styles -->
<!-- <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">-->
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="~/Scripts/jqfu/css/jquery.fileupload.css">
<link rel="stylesheet" href="~/Scripts/jqfu/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="~/Scripts/jqfu/css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="~/Scripts/jqfu/css/jquery.fileupload-ui-noscript.css"></noscript>
}


<script type="text/javascript">

    var _pageJsObject = {
        deleteBookUrl: '@Url.Action("DeleteBook", "Book")', 
        redirectUrl: '@Url.Action("Details", "Shelves", new { id = Model.Id })'
        };
</script>

<script type="text/javascript" src="~/Scripts/Custom/DeleteBook.js"></script>
@if (Model.CanEdit)
{
    <div class="btn-group margin-bottom">
        <a class="btn btn-default" onclick="$('#newBookModal').modal('show');">
            <i class="fa fa-plus"></i> Add a book
        </a>

        <a class="btn btn-default" href="@Url.Action("Index")"> 
        <i class="fa fa-list"></i> View shelves</a>

        @Html.Partial("Shelves/_AddBookModal", Model)
    </div>
}







<div class="box">
    <div class="box-header">
        <div class="box-title">Books in @Model.Name : <strong>@Model.BookCount books.</strong></div>
    </div>
    <div class="box-body">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td><strong>Title</strong></td>
                    <td><strong>Author(s)</strong></td>
                    <td><strong>Genre</strong></td>
                    <td><strong>Year</strong></td>
                    <td><strong>Publisher</strong></td>
                    <td></td>
                </tr>
            </thead>
 
            @if(Model.BookCount == 0)
            {
                <tr>
                    <td colspan="7">There are no books on this shelf.</td>
                </tr>
            }

            @foreach(var book in Model.Books)
            {
                <tr id="book-@book.Id">
                    <td>
                        @if(book.Pictures.Count > 0)
                        {
                            <img class="img-rounded" width="50" height="50" src="@book.Pictures.First().Url" />
                        }
                    </td>
                    <td>
                        <strong>
                            <a href="@Url.Action("ViewBook", "Book", new { id = book.Id })">
                                @book.Title
                            </a>    
                        </strong>
                    </td>
                    <td>
                        <ul>
                            @foreach (var author in book.Authors)
                            {
                                <li>
                                    <a href="@Url.Action("ViewAuthor", "Authors", new { id = author.Id })">
                                        @author.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach(var genre in book.Genres)
                            {
                                <li>@genre.Name</li>
                            }
                        </ul>
                    </td>
                    <td>
                        @book.Year
                    </td>
                    <td>
                        @((book.Publisher == null) ? "-" : book.Publisher.Name)
                    </td>
                    <td>
                        @if (Model.CanEdit)
                        {
                            <a href="javascript:void(0)" onclick="deleteBook(@book.Id)">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span>Delete</span>
                            </a>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="box-footer">
        @Html.Partial("_Pagination", Model.Pagination)
    </div>
</div>
