@model SDC.web.ViewModels.ShelvesViewModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function deleteShelf(id) {

        var name = $('#shelf-' + id).attr('data-sdc-shelfName');

        bootbox.confirm(
            "Are you sure you want to delete the shelf <strong>\""+ name +"\" </strong> and all the books it contains?",
            function (result) {
                if (result) {

                    $('#DeleteShelfId').val(id);
                    $('#deleteShelfForm').submit();
                }
            });
        return false;
    }

    function editShelf(id) {

        var name = $('#shelf-' + id).attr('data-sdc-shelfName');
        var isVisible = $('#shelf-' + id).attr('data-sdc-shelfIsVisible');

        //set up input values
        //show modal
        
        $('#EditShelfId').val(id);
        $('#editShelfModal').find('#Name').val(name);
        $('#editShelfModal').find('#IsVisible').prop("checked", isVisible);
        $('#editShelfModal').modal('show');
    }
</script>

<h4>Shelves - Index</h4>
<hr />

<a class="btn btn-primary" onclick="$('#newShelfModal').modal('show');">
    New shelf
</a>

<!-- new shelf modal -->
<div class="modal fade" id="newShelfModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("NewShelf", "Shelves", FormMethod.Post))
            {
                <div class="modal-header">
                    <div class="modal-title">
                        <h4>Create a new shelf</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Name, new { required = "required", @class="form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Visible to others:</label> 
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(m=>m.IsVisible)
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-default pull-right" onclick="$('#newShelfModal').modal('hide');">Go back</button> 
                        <button type="submit" class="btn btn-primary pull-right">Save changes</button>   
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $('#newShelfModal').on('shown.bs.modal', function () {
        $('#newShelfModal').find('#Name').focus();
    });
</script>

<!-- edit shelf modal -->
<div class="modal fade" id="editShelfModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("EditShelf", "Shelves", FormMethod.Post))
            {
                <input type="hidden" id="EditShelfId" name="EditShelfId" />

                <div class="modal-header">
                    <div class="modal-title">
                        <h4>Edit shelf</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Name, new { required = "required", @class="form-control"})
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Visible to others:</label>
                            <div class="col-sm-9">
                                @Html.CheckBoxFor(m=>m.IsVisible)
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-default pull-right" onclick="$('#editShelfModal').modal('hide');">Go back</button>
                        <button type="submit" class="btn btn-primary pull-right">Save changes</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $('#editShelfModal').on('shown.bs.modal', function () {
        $('#editShelfModal').find('#Name').focus();
    });
</script>


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Books</strong></td>
            <td><strong>Visible to others?</strong></td>
            <td>Actions</td>
        </tr>
    </thead>

    @foreach(var shelf in Model.Shelves)
    {
        <tr id="shelf-@shelf.Id" data-sdc-shelfName="@shelf.Name" data-sdc-shelfId="@shelf.Id" data-sdc-shelfIsVisible="@(shelf.IsVisible.ToString().ToLower())">
            <td>
                <a href="@Url.Action("Details", new { id = shelf.Id })">
                @shelf.Name
                </a>
            </td>
            <td>@shelf.BookCount</td>
            <td>@(shelf.IsVisible == true ? "yes" : "no")</td>
            <td>
                <a href="#" onclick="deleteShelf(@shelf.Id);">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>Delete</span>
                </a>
                |
                <a href="#" onclick="editShelf(@shelf.Id);">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>Edit</span>
                </a>
            </td>
        </tr>
    }

    @using (Html.BeginForm("DeleteShelf", "Shelves", FormMethod.Post, new { @id = "deleteShelfForm" }))
    {
        <input type="hidden" id="DeleteShelfId" name="DeleteShelfId" />
        
        
    }

</table>