@model SDC.data.ViewModels.AuthorListViewModel

@{
    ViewBag.Title = "Authors";
}
<!-- datatables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/ju/dt-1.10.9/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/r/ju/dt-1.10.9/datatables.min.js"></script>

<!-- bootstrap switch-->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.min.css" />
<script type="text/javascript" src="~/Scripts/bootstrap-switch.min.js"></script>

<script>
    var _links = {
        current: '@Url.Action("Index")',
        viewAuthor: '@Url.Action("ViewAuthor")',
        fetchAuthorsJson: '@Url.Action("GetAllAuthorsJson")',
        deleteAuthor: '@Url.Action("DeleteAuthor")',
        approveAuthor: '@Url.Action("ApproveAuthor")',
        viewUserProfile: '@Url.Action("View", "PublicProfiles")'
    };
</script>

<script src="~/Scripts/Custom/Authors/Index.js"></script>

<div class="pull-left">
    @if (ViewBag.CanEdit)
    {
        <div class="btn-group margin-bottom">
            <a class="btn btn-default" onclick="$('#authorModal').modal('show');">
            <i class="fa fa-plus"></i> New author
            </a>
        </div>
        
    }
</div>

@Html.Partial("Authors/_EditAuthorModal")

<input type="hidden" id="colSortIndex" value="@ViewBag.ColSortIndex"/>
<input type="hidden" id="colSortDirection" value="@ViewBag.ColSortDirection"/>

<div class="hidden">
    <!-- Single button -->
    <div class="btn-group singleButton">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" class="lnkApprove"><span class="glyphicon glyphicon-ok"></span>Approve</a></li>
            <li><a href="javascript:void(0);" class="lnkDelete"><span class="glyphicon glyphicon-trash"></span>Delete</a></li>
        </ul>
    </div>
</div>

<div class="box">
    
    <div class="box-body">
        <div class="row margin-bottom" style="margin-left:10px; ">
            <h4>Show authors:</h4>
            <span>
                <input id="chkBooksFilter" type="checkbox" data-off-text="All authors" data-on-text="With books" checked="true" />
            </span>
            <button class="btn btn-primary ">New author</button>
        </div>
        <div>
            <table id="authorsTable" class="display compact" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Is verified</th>
                        <th>Book count</th>
                        <th>Added by</th>
                        <th>Added date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Is verified</th>
                        <th>Book count</th>
                        <th>Added by</th>
                        <th>Added date</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
    <div class="box-footer">

    </div>
</div>

