@model SDC.data.Entity.Profile.ChangePasswordModel

@{ 
    ViewBag.Title = "Change your password";
}


<!-- Custom Tabs -->
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Change password</a></li>    
    </ul>
    <div class="tab-content">

        <span> Please enter your old password and the new password, twice. </span>


        @if(Model.UserMessage != null)
        {
            <div class="alert alert-warning">
                <a href="#" class="close" data-dissmiss="alert">&times;</a>
                @Model.UserMessage
            </div>
        }

        @using (Html.BeginForm("ChangePassword", "Profile"))
        {
            <div class="row row-spaced">
                <div class="col-sm-3"><strong>Old password:</strong></div>
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
            </div>

            <div class="row row-spaced">
                <div class="col-sm-3"><strong>New password:</strong></div>
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
            </div>

            <div class="row row-spaced">
                <div class="col-sm-3"><strong>New password:</strong></div>
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.NewPasswordRepeat)
                </div>
            </div>


            <div class="row row-spaced">
                <div class="col-sm-12">
                    <div class="pull-right">

                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <a href="@Url.Action("Index", "Profile")"
                           class="btn btn-default">Go back</a>
                    </div>
                    
                </div>
            </div>
        }

    </div>
</div>

